<div style="padding: 4px 0;">
  <div class="row-list">
    <div class="task-name">
      <div 
        class="editable-text" 
        [attr.contenteditable]="isEditing ? true : null"
        (blur)="onEditBlur($event)" 
        [class.editing]="isEditing"
      >
        {{ task.taskDes }}
      </div>
    </div>
    <div class="task-status">
        {{ task.status ? 'Done' : 'Todo' }}
    </div>
    <div class="task-action">
        <!-- Edit / Update -->
      <div class="btn editBtn" *ngIf="!isEditing" (click)="toggleEdit()">Edit</div>
      <div class="btn editBtn" *ngIf="isEditing" (click)="onSaveEdit()">Update</div>
      <!-- Toggle finished/undo -->
      <div class="btn finishedBtn" *ngIf="!task.status" (click)="onToggleStatus()">finished</div>
      <div class="btn finishedBtn" *ngIf="task.status" (click)="onToggleStatus()">undo</div>
      <!-- Delete -->
      <div class="btn deleteBtn" (click)="onDeleteTask()">delete</div>
    </div>
  </div>
</div>